<form action="<%= board_memberships_url(@board) %>"
 method="POST" accept-charset="utf-8">

 <input type="hidden"
 name="authenticity_token"
 value="<%= form_authenticity_token %>">

 <input type="text"
 name="member[email]">

  <p><input type="submit" value="Add Member"></p>
</form>