Or log in with:
<br>
<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
	
	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">
	
	<input type="hidden"
	name="user[email]"
	value="guest@strello.herokuapp.com">
	
	<input type="hidden"
	name="user[password]"
	value="password">

	<input class="save" type="submit" value="Guest Account">
</form>