<form
class="rename-list hidden"
action="<%= catagory_url(catagory) %>" 
method="POST" 
accept-charset="utf-8"
data-remote="true">
  <input type="hidden" name="_method" value="PUT">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

		<textarea name="catagory[title]"><%= catagory.title %></textarea>
	<br>

	<p>
		<input class="save" type="submit" value="Rename"> 
	</p>
</form>