<h1>Catagory: <%= @catagory.title %></h1>
<h4>Board: <%= @catagory.board.title %></h4>

<h3>Cards</h3>
<ul>
	<% @catagory.cards.each do |card| %>
	<li><%= link_to "#{card.title}", card_url(card) %></li>
	<% end %>
</ul>

<%= render partial: "cards/new", locals: { catagory: @catagory } %>