<header class="user-header group">
  <div class="logo">
    <%= image_tag("logo.png")%>
  </div>

  <% if logged_in? %>
  <nav class="board-nav">
    <h4>Boards:</h4>
    <ul class="group">
      <% current_user.member_boards.each do |board| %>
      <li><%= link_to "#{board.title}", board_url(board) %></li>
      <% end %>
    </ul>
  </nav>
  <% end %>

  <%= render partial: "users/login" %>
</header>