<header class="user-header group">
  <div class="logo">
    <%= image_tag("logo.png")%>
  </div>

  <nav>
    <ul>
      <li>
        <div class="boards">
          <div>
            <div></div>
            <div></div>
          </div>
          Boards
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag("happy-cat1.jpg")%>
        </div>
      </li>

    </ul>
  </nav>

  <div id="board-list" class="hidden">
    <h4>Boards</h4>
    <ul>
      <li> My Boards </li>
      <% current_user.member_boards.each do |board| %>
      <a href="<%= board_url(board) %>">
        <li><%= board.title %></li>
      </a>
      <% end %>
    </ul>
  </div>
</header>