<%= render partial: "users/header" %>

<article class="user-pages group">
	<section class="board-index">

		<h2><%= @user.email %></h2>
		

	</section>

	<%= render partial: "users/profile_nav", locals: { user: @user } %>

</article>