#card-view {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	height: 100%;
	min-height: 640px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

#card-view .loading {
	width: 500px;
	margin: 0 auto;
}