.card-page > section.sidebar {
  width: 150px;
  margin: 20px 10px;
  float: left;
}

.sidebar > ul > li {
	position: relative;
}

.sidebar > ul > li > h4 {
  font-weight: bold;
  margin: 5px 0;
}

.sidebar #assign-member-button .member-icon-white {
	float: left;
	width: 20px;
	margin-top: -2px;
}

.sidebar #assign-member-button:hover .member-icon-white {
	display: none;
}

.sidebar #assign-member-button .member-icon-blue {
	float: left;
	width: 15px;
	margin-top: 0px;
	margin-right: 2px;
	margin-left: 2px;
	display: none;
}

.sidebar #assign-member-button:hover .member-icon-blue {
	display: table;
}