.card-page {
  position: relative;
  width: 630px;
  min-height: 460px;
  background-color: white;
  margin: 20px auto;
  border-radius: 3px;
}

section.card-main {
  width: 410px;
  margin: 30px 10px 30px 10px;
  padding-left: 20px;
  float: left;
}


/* CHECKLISTS */

.checklists {
  margin-top: 20px;
}

.checklists > ul > li > h3 {
  font-weight: bold;
}




