<header class="group">
  <ul>
    <li>
      <h1><%= board.title %></h1>
    </li>
    <li class="group"><h4>Members:</h4>
      <nav>
        <ul>
          <% board.members.sort { |x, y| x.email <=> y.email }.each do |member| %>
          <li><%= member.email %></li>
          <% end %>
        </ul>
      </nav>
    </li>
    <li>
      <%= link_to "Add Member to Board", new_board_membership_url(board) %>
    </li>
  </ul>
</header>