<header class="board-header group">
  <div id="board-name">
    <h2><span><%= board.title %></span></h2>
  </div>
	<%= render partial: "boards/title_form", locals: { board: board } %>
	<%= render partial: "boards/sidebar", locals: { board: board } %>
</header>