<div id="board-sidebar-link">
	<h5>&#9668; <span>Show sidebar</span></h5>
</div>
<div id="board-sidebar" class="hidden">
	<div id="board-sidebar-exit">
		&#9658;
	</div>
	<h3>Members</h3>
	<ul class="group">
	<% board.members.each do |member| %>
		<li>
			<%= render partial: "users/avatar", locals: { user: member } %>
		</li>
	<% end %>
	</ul>
	<button id="new-membership-button" class="group">
		<div class="member-icon-white">
			<%= image_tag ("people_head.png") %>
		</div>
		<div class="member-icon-blue">
			<%= image_tag ("people_head_blue.png") %>
		</div>
		<span>
			Add Members...
		</span>
	</button>
	<%= render partial: "memberships/new", locals: { board: board } %>
</div>