<form id="rename-board"
class="hidden-form hidden"
action="<%= board_url(board) %>" 
method="POST" 
accept-charset="utf-8"
data-remote="true">
	<div class="exit">
	  <%= image_tag("exit.png")%>
	</div>
	
	<h1>Rename Board</h1>

  <input type="hidden" name="_method" value="PUT">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>
		<input type="text"
		name="board[title]"
		value="<%= board.title %>">
	</label>
	<br>

	<p><input class="save" type="submit" value="Rename"></p>
</form>