<form id="rename-board"
class="hidden"
action="" 
method="get" 
accept-charset="utf-8"
data-remote="true">

	<h3>Rename Board</h3>

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<input type="text"
	name="board[titlse]"
	value="<%= board.title %>">
	<br>

	<button class="save">Rename</button>
</form>