<%= render partial: "board_header", locals: { board: @board } %>

<article class="card-set">
  <ul>
    <%= render @board.cards.select { |card| card.due_date < Time.now } %>
  </ul>
</article>
<ul>
  <li><%= link_to "Current", board_url(@board) %></li>
  <li><%= link_to "Pending", board_pending_url(@board) %></li>
</ul>
