<h1><%= @board.title %></h1>



<%= link_to "Finished", "#" %>
<article>
  <ul>
    <% @board.cards.each do |card| %>
    <li class="card">
      <%= card.title %>
    </li>
    <% end %>
  </ul>
</article>
<%= link_to "Pending", "#" %>
