<h1><%= @board.title %></h1>

<h3>Members</h3>
<ul>
	<% @board.members.each do |member| %>
	<li>
		<%= member.email %>
	</li>
	<% end %>
</ul>

<h2>Catagories</h2>
<ul>
	<% @board.catagories.each do |catagory| %>
	<li>
		<%= link_to "#{catagory.title}", catagory_url(catagory) %>
	</li>
	<% end %>
</ul>

<%= render partial: "catagories/new", locals: { board: @board } %>