<section id="all-headers">
	<%= render partial: "users/header", locals: { board: @board } %>
	<%= render partial: "header", locals: { board: @board } %>
</section>

<%= render partial: "boards/board", locals: { board: @board } %>

<%= render partial: "cards/view" %>