<h1><%= @board.title %></h1>

<%= link_to "Finished", board_finished_url(@board) %>
<article class="card-set">
  <ul>
<%= render @board.cards.select { |card| card.start_date < Time.now && card.due_date > Time.now} %>
  </ul>
</article>
<%= link_to "Pending", board_pending_url(@board) %>