<form class="actually-card-new-form"
action="<%= catagory_cards_url(catagory) %>"
method="POST"
accept-charset="utf-8"
data-remote="true">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">


	<textarea name="card[title]"></textarea>
  <br>

  <button class="save">Add</button>
</form>