<%= render partial: "users/header" %>

<article class="user-pages group">
	<section class="card-index">
		<ul class="group">
			<% @cards.each do |card| %>
				<%= render partial: "cards/card", locals: { card: card, catagory: nil } %>
			<% end %>
		</ul>
	</section>

	<%= render partial: "users/profile_nav", locals: { user: @user } %>

</article>

<%= render partial: "cards/view" %>