/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, header, article, ul, li, a, h1, h4, button, input, textarea, select, strong {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font-weight: normal;
  text: inherit;
  text-decoration: none;
  list-style-type: none;
}

/*.left {
  float: left;
  margin-right: 40px;
}*/

body {
  background: #F8F8F8;
  font-family: sans-serif;
  color: white;
/*  min-width: 1000px;*/
}

a {
  color: white;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}