/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, header, article, ul, li, a, h1, h2,
h3, h4, h5, button, input, textarea, select, strong {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font-weight: normal;
  text: inherit;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html, body {
	height: 100%;
}

body {
  font-family: sans-serif;
	background-color: #e6e6e6;
	color: #303030 ;
}

.group:after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

img {
  width: 100%;
  height: auto;
  display: table;
}