// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header.board-header > h1 {
  text-align: center;
  font-size: 120%;
}

.user {
  width: 50px;
  float:right;
}

.board-button {
  background-color: #C0C0C0;
  color: #F8F8F8 ;
  width: 200px;
  height: 60px;
  padding-top: 40px;
  margin: 20px auto;
  display: table;
  text-align: center;
}