// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.save {
  background-color: green;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 90%;
  padding: 5px 15px;
}

.save:hover {
	cursor: pointer;	
}

.exit {
	background: transparent;
	font-weight: bold;
	color: gray;
}

.exit:hover {
	cursor: pointer;	
	color: black;
}