.user-header {
  padding: 4px 5px;
  background-color: #336699;
}

.logo {
  width: 90px;
  float: left;
}

.user-header > nav {
  float: right;
}

.user-header > nav > ul > li {
  margin: 0 3px;
  float: left;
  position: relative;
}

.avatar {
  border: solid gray 2px;
  width: 34px;
  height: 34px;
  border-radius: 5px;
}

.avatar  img {
  height: 100%;
}

#board-list {
  top: 50px;
  right: 5px;
  position: absolute;
  background-color: white;
  width: 310px;
  color: black;
  border: solid gray 1px;
  border-radius: 5px;
}

#board-list > h4 {
  padding: 7px 0;
  margin: 0 7px;
  text-align: center;
  border-bottom: solid gray 1px;
  font-weight: bold;
  color: gray;
}

#board-list > ul {
}

#board-list > ul a {

  color: black;
  font-weight: bold;
}

#board-list ul li {
  padding: 10px;
}

#board-list > ul a:hover li {
 background-color: blue;
 color: white;
}

#board-list {}

.boards {
  padding: 9px;
  background-color: #009999;
  color: white;
  border-radius: 5px;
  font-size: 93%;
  font-weight: bold;
}

.boards > div {
  padding: 2px 3px;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  margin-right: 10px;
  background-color: white;
  float: left;
  border-radius: 2px;
}

.boards > div > div {
  background-color: #009999;
  margin-right: 1px;
  margin-top: 1px;
  border-radius: 2px;
}

.boards > div > div:first-child {
 height: 13px;
 width: 6px;
 float: left;
}

.boards > div > div:last-child {
  width: 6px;
  height: 8px;
  float: right;
}