

header {
  margin: 0 auto;
  padding: 20px 0px;
}

.board-nav > h4 {
  float: left;
}

.board-nav > ul {
  margin-left: 10px;
  float: left;
}

.board-nav {
  float: left;
}

.login {
  width: 200px;
  margin-left: -150px;
  float: right;
}

.login li {
  float: left;
  margin-left: 25px;
}

.logout {
  background: transparent;
  color: inherit;
}

.logout:hover {
 cursor: pointer;
}


.logo {
  width: 50px;
  float: left;
}