header {
  padding: 4px 5px;
  background-color: #336699;
}

.logo {
  width: 90px;
  float: left;
}

header > nav {
  float: right;
}

nav > ul > li {
  margin: 0 3px;
  float: left;
  position: relative;
}

.avatar {
  border: solid gray 1px;
  width: 34px;
  height: 34px;
  border-radius: 5px;
}

.avatar  img {
  height: 100%;
}

#board-list {
  top: 50px;
  right: 5px;
  position: absolute;
  background-color: white;
  width: 290px;
  text-align: center;
  color: black;
  border: solid gray 1px;
  border-radius: 5px;
}

#board-list a {
  color: black;
}

.boards {
  padding: 9px;
  background-color: #009999;
  border-radius: 5px;
  font-size: 93%;
  font-weight: bold;
}

.boards > div {
  padding: 2px 3px;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  margin-right: 10px;
  background-color: white;
  float: left;
  border-radius: 2px;
}

.boards > div > div {
  background-color: #009999;
  margin-right: 1px;
  margin-top: 1px;
  border-radius: 2px;
}

.boards > div > div:first-child {
 height: 13px;
 width: 6px;
 float: left;
}

.boards > div > div:last-child {
  width: 6px;
  height: 8px;
  float: right;
}