.hidden-form {
	position: absolute;
	z-index: 3;
	background-color: white;
	width: 261px;
	padding: 9px 9px 0 9px;
	border: solid #b9b9b9 1px;
	border-radius: 3px;
}

.hidden-form a {
	color: #303030;
}

.hidden-form > h1 {
	margin-top: 2px;
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: solid #dcdcdc 1px;
	text-align: center;
	color: #939393;
	font-weight: bold;
	font-size: 90%;
}

.hidden-form .exit {
	top: 7px;
	right: 7px;
	position: absolute;
	width: 20px;
	opacity: 0.6;
}

.hidden-form .exit:hover {
	opacity: 1.0;
	cursor: pointer;	
}

.hidden-form > label {
	color: #444444;
	font-weight: bold;
	font-size: 90%;
}

.hidden-form > label > input {
	width: 245px;
	margin: 5px 0;
	padding: 7px;
	border: solid #bfbfbf 1px;
	border-radius: 3px;
	font-size: 95%;
	color: #393954;
	background-color: #e9e9e9;
	transition: border 0.3s, background-color 0.3s;
}

.hidden-form > label > input:hover {
	border: solid #777777 1px;
}

.hidden-form > label > input:focus {
	border: solid #318ec4 1px;
	background-color: #fcfcfc;	
}

.hidden-form textarea {
	max-width: 245px;
	min-width: 245px;
	min-height: 50px;
	margin-top: 5px;
	padding: 7px;
	border: solid #bfbfbf 1px;
	border-radius: 3px;
	font-size: 95%;
	color: #393954;
	background-color: #e9e9e9;
	transition: border 0.3s, background-color 0.3s;
}

.hidden-form textarea:hover {
	border: solid #777777 1px;
}

.hidden-form textarea:focus {
	border: solid #318ec4 1px;
	background-color: #fcfcfc;	
}

.hidden-form > ul > li {
	border-bottom: solid #dcdcdc 1px;
	padding: 5px 0;
}

.hidden-form > ul > li:last-child {
  border: 0;	
}

.hidden-form > ul > li li {
	padding: 10px;
	margin: 0 -9px;
	font-weight: bold;
	font-size: 90%;
}

.hidden-form > ul > li li:hover {
	background-color: #318ec4;
	color: white;
	cursor: pointer;
}

.hidden-form input[type="file"] {
	max-width: 260px;
}

.logout {
	width: 279px;
	margin: -10px;
	padding: 10px;
	background-color: white;
	color: #303030;
	font-weight: bold;
}

.logout:hover {
	background-color: #318ec4;
	color: white;
	cursor: pointer;
}

.save {
  background-color: green;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 90%;
  padding: 5px 15px;
	margin: 5px 0;
}

.save:hover {
	cursor: pointer;	
}