#all-headers {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 100%;
}

.user-header {
  padding: 4px 5px;
  background-color: #266c96;
}

.logo {
  width: 90px;
  float: left;
}

.header-nav {
  float: right;
}

.header-nav > ul > li {
  margin: 0 3px;
  float: left;
  position: relative;
}

.board-list {
	z-index: 1;
  top: 50px;
  right: 5px;
  position: absolute;
  background-color: white;
  width: 310px;
  color: black;
  border: solid #b9b9b9 1px;
  border-radius: 5px;
	font-size: 90%;
}

.board-list h4 {
  margin: 7px;
  text-align: center;
  font-weight: bold;
  color: gray;
}

.board-list h5 {
	color: gray;
  margin: 7px 0;
  font-weight: bold;
}

.board-list > ul {
	margin: 10px;
}

.board-list > ul > li {
	position: relative;
	border-top: #dcdcdc solid 1px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.board-list > ul a {
  color: #444444;
}

.board-list ul > li > ul li {
	padding: 10px;
	margin: 0 -10px;
  font-weight: bold;
}

.board-list > ul a:hover li {
 background-color: #2d81b2;
 color: white;
}

.board-list .exit {
	position: absolute;
	font-size: 80%;
	top: 8px;
	right: 15px;
}

.boards-button {
  padding: 9px;
  background-color: #5188a8;
  color: white;
  border-radius: 5px;
  font-size: 80%;
  font-weight: bold;
}

.boards-button:hover {
	cursor: pointer;
}

.boards-button > div {
  padding: 2px 3px;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  margin-right: 10px;
  background-color: white;
  float: left;
  border-radius: 2px;
}

.boards-button > div > div {
  background-color: #5188a8;
  margin-right: 1px;
  margin-top: 1px;
  border-radius: 2px;
}

.boards-button > div > div:first-child {
 height: 13px;
 width: 6px;
 float: left;
}

.boards-button > div > div:last-child {
  width: 6px;
  height: 8px;
  float: right;
}