.board {
	height: 100%;
}

.board > ul {
  position: relative;
  margin-top: 10px;
}

.board > ul > li {
	float: left;
}

li.list {
  margin-left: 10px;
  width: 280px;
  background-color: #C0C0C0;
  border-radius: 3px;
	overflow: visible;	
}

.list > h4 {
  font-weight: bold;
  padding: 5px 10px;
}

.list > ul {

}

#add-list-form {
  margin-left: 10px;
	padding: 5px;
  width: 300px;
  background-color: #C0C0C0;
  border-radius: 3px;
  float: left;
}

#add-list-form > input {
  border-radius: 3px;
	width: 290px;
	margin-bottom: 5px;
	padding: 5px;
}