.option-icon {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 12px;
	opacity: 0.6;
	visibility:hidden;
}

.option-icon:hover {
	opacity: 1.0;	
}

.card:hover .option-icon {
	visibility: visible;
}

.list h4:hover > .option-icon {
	visibility: visible;
}

.option-menu {
	top: 27px;
	right: -260px;
}

.option-menu input[type="submit"] {
	width: 279px;
	margin: -10px;
	padding: 10px;
	background-color: white;
	color: #303030;
	font-weight: bold;
}

.option-menu input[type="submit"]:hover {
	background-color: #318ec4;
	color: white;
	cursor: pointer;
}

.list > ul > li {
	position: relative;
}