.option-icon {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 12px;
	opacity: 0.6;
	visibility:hidden;
}

.option-icon:hover {
	opacity: 1.0;	
}

.card:hover .option-icon {
	visibility: visible;
}

.list h4:hover > .option-icon {
	visibility: visible;
}

.option-menu {
	top: 27px;
	right: -260px;
}