.user-nav {
	position: relative;
	margin-top: -6px;
	width: 170px;
	float: left;
}

.user-nav .big-avatar {
	position: relative;
}

.big-avatar:hover .change-avatar {
	display: block;	
}

.user-nav .change-avatar {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding: 15px 0;
	background-color: black;
	text-align: center;
}

.user-nav .change-avatar:hover {
	cursor: pointer;	
}

.user-nav .change-avatar > span {
	font-weight: bold;
	font-size: 90%;
	color: white;
	text-decoration: underline;
}

.user-nav > ul {
	margin-top: 12px;
}

#user-info {
	margin: 7px;
}

#user-email {
	margin: 3px;
	font-weight: bold;
	font-size: 90%;
	display: block;
}

#user-username {
	margin: 3px;
	font-size: 90%;
	display: block;
	color: gray;
}

.user-links {
	padding: 8px 0;
	border-top: solid #dcdcdc 1px;
	color: #444444;
}

.user-links ul li {
	margin: 5px 0;
	padding: 8px;
	border-radius: 3px;
}

.user-links a {
	color: #444444;
}

.user-links:first-child a {
	font-weight: bold;
	color: #111111;
}

.user-links ul li:hover {
	background-color: #2d82b3;
	color: white;
	cursor: pointer;
}