<form accept-charset="UTF-8"
action="<%= user_url(current_user) %>"
class="email-edit hidden-form hidden"
data-type="email"
method="post">

	<div class="exit">
    <%= image_tag("exit.png")%>
	</div>

	<h1>Change Email</h1>

	<p>
		Your email address is currently
		<br>
		<strong><%= current_user.email %></strong>
	</p>

	<input type="hidden"
	name="_method"
	value="put">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>New Email Address
		<input type="text"
		name="user[email]">
	</label>
	<br>
	<input class="save" type="submit" value="Send Confirmation Email">
</form>