<%= form_for current_user, url: user_url(current_user), html: { class: "email-edit hidden-form hidden" } do |f| %>
	<div class="exit">
    <%= image_tag("exit.png")%>
	</div>

	<h1>Change Password</h1>

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>Old Password
		<input type="password"
		name="user[password]">
	</label>
	
	<label>New Password
		<input type="password"
		name="user[new_password]">
	</label>
	
	<label>New Password (again)
		<input type="password"
		name="user[new_password_again]">
	</label>
	<br>
	<%= f.submit "Send Confirmation Email", class: "save" %>
<% end %>