<form accept-charset="UTF-8"
action="<%= user_url(current_user) %>"
class="hidden-form hidden"
data-type="password"
method="post">

	<div class="exit">
    <%= image_tag("exit.png")%>
	</div>

	<h1>Change Password</h1>

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>Old Password
		<input type="password"
		name="user[password]">
	</label>
	
	<label>New Password
		<input type="password"
		name="user[new_password]">
	</label>
	
	<label>New Password (again)
		<input type="password"
		name="user[new_password_again]">
	</label>
	<br>
	<input class="save" type="submit" value="Send Confirmation Email">
</form>