<div class="avatar">
	<% if (!!user.avatar_file_name) { %>
		<img alt="<%= user.avatar_file_name %>" src="<%= avatar_url %>">
	<% } else { %>
		<img alt="Default_avatar" src="/assets/default_avatar.jpg">
	<% } %>
</div>