<ul>
  <li>
    <h4>Members</h4>
    <ul class="members">
      <% card.participants.forEach(function(member) { %>
      <li data-id="<%= member.id %>">
        <div class="avatar">
          <%= image_tag("happy-cat1.jpg")%>
        </div>
      </li>
      <% }) %>
    </ul>
    <!-- new_card_participation_url(@card) -->
    <button class="assign-member-button sidebar">Assign...</button>
		<div class="assign-member hidden">
			<h4>Members</h4>
		</div>
  </li>

  <li>
    <h4>Actions</h4>
    <ul>
      <li>
        <button class="add-checklist-button sidebar">Add checklist...</button>
      </li>
    </ul>
  </li>
</ul>

