<ul>
  <li>
    <h4>Members</h4>
    <ul class="members">
      <% card.participants.forEach(function(member) { %>
      <li data-id="<%= member.id %>">
				<%= JST['avatar']({ user: member }) %>
      </li>
      <% }) %>
    </ul>
    <button class="assign-member-button sidebar">Assign...</button>
		<%= JST['new_participation']({ members: card.members }) %>
  </li>

  <li>
    <h4>Actions</h4>
    <ul>
      <li>
        <button class="add-checklist-button sidebar">Add checklist...</button>
      </li>
    </ul>
  </li>
</ul>

