<div class="option-menu hidden-form hidden"
data-id="<%= data.id %>">
	<div class="exit">
		<img alt="Exit" src="/assets/exit.png">
	</div>

	<h1>List Actions</h1>
	<ul>
		<li>
			<ul>
				<li>
					<form action="/catagories/<%= data.id %>"
						class="delete-list"
						method="post" 
						data-remote="true">
						<div>
							<input name="_method" type="hidden" value="delete">
							<input type="submit" value="Delete List">
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
						</div>
					</form>
				</li>
			</ul>
		</li>
	</ul>
</div>