<div id="new-participation-form"
class="hidden-form hidden">
	<div class="exit">
	  <img alt="Exit" src="/assets/exit.png">
	</div>

	<h1>Members</h1>
	<ul>
		<% members.forEach(function(member) { %>
			<% var exists = "" %>
			<% participations.forEach(function(participation) { %>
				<% if (participation.user_id === member.member.id) { %>
					<% exists = participation.id %>
				<% } %>
			<% }) %>
			
			<li class="group" data-id="<%= member.member.id %>" data-participation-id="<%= exists %>">
				<%= JST['avatar']({ user: member.member, avatar_url: member.avatar_url }) %> 
				<span><%= member.member.email %></span>
			</li>
		<% }) %>
	</ul>
</div>