<div id="new-participation-form"
class="hidden-form">
	<div class="exit">
	  <img alt="Exit" src="/assets/exit.png">
	</div>

	<h1>Members</h1>
	<ul>
		<% members.forEach(function(member) { %>
			<li class="group">
				<%= JST['avatar']({ user: member.member, avatar_url: member.avatar_url }) %> 
				<span><%= member.member.email %></span>
			</li>
		<% }) %>
	</ul>
</div>