.user-pages {
	position: relative;
	width: 670px;
	margin: 45px auto;
}

.board-index {
	position: relative;
	margin: 0 25px;
	width: 428px;
	float: left;
}

.board-index #my-boards-icon {
	position: absolute;
	top: -4px;
	left: -35px;
	width: 30px;
}

.board-index #new-board-icon {
	width: 20px;
	margin-left: 3px;
	margin-right: -3px;
	display: inline-block;
	opacity: 0.6;
}

.board-index > h1 {
	font-weight: bold;
	display: inline;
}

.board-index > a span {
	font-size: 90%;
	text-decoration: underline;
	color: #949494;
}

.board-index > a:hover {
	color: black;	
	cursor: pointer;
}

.board-index > a:hover #new-board-icon {
	opacity: 1.0;
}

.board-index > a:hover span {
	color: black;
}

.board-index .new-board-form {
	top: 31px;
	left: 93px;
}

.board-index > ul > li nav {
	border-radius: 4px;
	padding: 7px;
	margin: 5px 0;
	color: black;
}

.board-index > ul > li {
	border-bottom: solid #dcdcdc 1px;
}

.board-index > ul > li:first-child {
	margin-top: 10px;
	border-top: solid #dcdcdc 1px;
}

.board-index > ul > li nav:hover {
	background-color: #2d81b2;
	color: white;
}

.user-nav {
	margin-top: -6px;
	width: 170px;
	float: left;
}

.user-nav .big-avatar {
	position: relative;
}

.big-avatar:hover {
	cursor: pointer;
}

.big-avatar:hover .change-avatar {
	display: block;	
}

.user-nav .change-avatar {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding: 15px 0;
	background-color: black;
	text-align: center;
}

.user-nav .change-avatar:hover {
	cursor: pointer;	
}

.user-nav .change-avatar > span {
	font-weight: bold;
	font-size: 90%;
	color: white;
	text-decoration: underline;
}

.avatar-upload {
	
}