<!DOCTYPE html>
<html>
<head>
  <title>Strello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="icon" 
	      type="image/ico" 
	      href="/assets/favicon.ico">
  <style>

  </style>

</head>
<body>


<%= yield %>


</body>
</html>
